---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import AIIntegration from '../components/AIIntegration.astro';
import TerminalWorkspace from '../components/TerminalWorkspace.astro';
import SSHManagement from '../components/SSHManagement.astro';
import AppPreview from '../components/AppPreview.astro';
import Download from '../components/Download.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <AppPreview />
    <AIIntegration />
    <TerminalWorkspace />
    <SSHManagement />
    <Download />
  </main>
  <Footer />
</Layout>
